@{
    Layout = @"~/Pages/Shared/_Layout.cshtml";
}
@using zenbox.model

@model LayoutModel<MaterialModel>
@{
    var PageModel = Model.PageModel;
}

<div class="jumbotron">
    <h1 class="display-4">Materials</h1>
    <p class="lead">Materials will be a collection of learning mediafiles</p>
    <hr class="my-4">
    <p>Later possibly can be converted into wiki-storage, at the first stage Amazon S3 file storage will be used.</p>        
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>

