@using zenbox.model
@model ILayoutModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <title>@ViewData["Title"] - zenbox</title> *@
    <title>@Model.Title - zenbox</title>
    <link rel="stylesheet" href="~/css/main.css" />
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" />    
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.svg"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div id="main-wrapper" class="container m-lg-auto m-sm-0">
        <header>        
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div>
                    <a href="https://zenbox.azurewebsites.net"><img src="~/images/logo-m.png" height="80" style="padding-right:10px;" /></a>
                </div>
                <div>
                    <a class="navbar-brand" asp-area="" asp-page="/Index">zenbox</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </nav>        
        </header>

        <div class="d-flex m-lg-3 m-sm-0">
            <aside id="sidebar">
                <partial name="_SidebarPartial" for="Sidebar" />
            </aside>            
            <div class="main justify-content-center w-100">
                <nav class="navbar navbar-expand border-bottom">
                    <button class="toggler-btn" type="button">
                        <i class="bi bi-justify-left"></i>
                    </button>
                </nav>
                <main class="p-3 d-flex justify-content-center">
                    <div class="container-fluid">
                        <div class="mb-3 text-center">
                            @RenderBody()
                        </div>
                    </div>
                </main>
            </div>
        </div>


        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2025 - zenbox - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>