@using Microsoft.AspNetCore.Identity
@using zenbox.model

@model SidebarModel
@inject UserManager<IdentityUser> userManager

<ul class="nav nav-pills flex-column mb-auto">
	@{
		var user = userManager.FindByNameAsync(User.Identity.Name).Result;
		var roles = userManager.GetRolesAsync(user).Result;
		
		foreach (var item in Model.Items.Where(e => roles.Any(userRole => e.Roles.Any(menuRole => userRole == menuRole))))
		{
			<li>
				<a href="@item.Link" class="nav-link link-body-emphasis">
					<svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
						<use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#@item.BootstrapIcon" />
					</svg>
					@item.Title
				</a>
			</li>
		}
	}
</ul>
@* 	<hr>
	<div class="dropdown">
		<a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			<img src="https://avatars.githubusercontent.com/u/14904808?v=4&size=32" alt="" width="32" height="32" class="rounded-circle me-2">
			<strong>Settings</strong>
		</a>
		<ul class="dropdown-menu text-small shadow">
			<li>
				<a class="dropdown-item" href="#">New project...</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">Settings</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">Profile</a>
			</li>
			<li>
				<hr class="dropdown-divider">
			</li>
			<li>
				<a class="dropdown-item" href="#">Sign out</a>
			</li>
		</ul>
	</div>

 *@