@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
}
@using zenbox.model

@model LayoutModel<DashboardModel>
@{
    var PageModel = Model.PageModel;
}

<div class="jumbotron">
    <h1 class="display-4">Dashboard</h1>
    <p class="lead">Here will be the summary of Schedule, Invoices and Homework tasks</p>
    <hr class="my-4">
    <p>Just a simple dashboard, full functionality yet to be discussed</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
