#sidebar {
    max-width: 150px;
    min-width: 150px;
    transition: all 0.35s ease-in-out;
    background-color: #ffffff;
    display: flex;
    flex-direction:column;
}

    #sidebar.collapsed {
        visibility: hidden;
        margin-left: -150px;
    }
