@{
    Layout = @"~/Pages/Shared/_Layout.cshtml";
}

@using zenbox.model
@model List<TasklistModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3">
                Your task lists:
            </th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var item in Model)
        {
            <tr id="row-@item.Id">
                <td>
                    <a href="@Url.Action("Index", "Task", new { id = item.Id })" class="btn btn-outline-dark" data-id="@item.Id"><i class="bi-list"></i></a>
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    <button class="btn btn-outline-dark delTodoList" data-id="@item.Id"><i class="bi-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>&nbsp;</td>
            <td>
                <div class="form-group">
                    <input class="form-control" id="newName" type="text" />
                </div>
            </td>

            <td>
                <button class="btn btn-outline-dark" id="addTodoList"><i class="bi-plus"></i></button>
            </td>
        </tr>
    </tfoot>
</table>


@section Scripts
{
    <script>
        $(function () {
            $('#addTodoList').click(addList);
            $('.delTodoList').click(function () { delList($(this).data('id')); });
            $("#newName").keyup(function (event) {
                if (event.keyCode === 13) {
                    $("#addTodoList").click();
                }
            });

        });

        var addList = function () {

            var listName = $('#newName').val();
            var data = { name: listName };

            $.ajax({
                type: "POST",
                url: "/Tasklist/AddList?" + $.param(data),
                success: function (data) {
                    if (!data.name) { data.name = ''; }
                    $('#tableBody').append($("<tr id='row-" + data.id + "'><td><a href='/Task/Index?id=" + data.id + "' class='btn btn-outline-dark' data-id='" + data.id + "'><i class='bi-list'></i></a></td><td>" + data.name + "</td><td><button class='btn btn-outline-dark delTodoList' data-id='" + data.id + "' onclick='delList($(this).data(&quot;id&quot;));'><i class='bi-trash'></i></button></td></tr>"));
                    $('#newName').val('');
                },
                error: function () {
                    alert("add list error");
                }
            });
        };

        var delList = function (id) {

            var data = { id: id };

            $.ajax({
                type: "POST",
                url: "/Tasklist/DeleteList?" + $.param(data),
                success: function (data) {
                    $('#row-' + id).remove();
                },
                error: function () {
                    alert("delete list error");
                }
            });
        };

    </script>
}
