@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
}
@using zenbox.model

@model LayoutModel<TestModel>
@{
    var PageModel = Model.PageModel;
}

<div class="jumbotron">
    <h1 class="display-4">Test list</h1>
    <p class="lead">Here will be implemented Tests catalog with results and ability to create a new tests using tasks and existing materials</p>
    <hr class="my-4">
    <p>Tests will be connected with Results (to be created), Materials / Tasks (to be defined) and possibly included in Programmes (tbd)</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
