@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
}
@using zenbox.model


@model LayoutModel<StudentViewmodel>
@{
    var PageModel = Model.PageModel;
}

<div class="jumbotron">
    <h1 class="display-4">Students list</h1>
    <p class="lead">Here will be implemented a list of students with card add/edit/archive actions </p>
    <hr class="my-4">
    <p>The list is going to be connected with Schedules, Invoices, Tasks</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>


