@{
    Layout = @"~/Pages/Shared/_Layout.cshtml";
}
@using zenbox.model

@model LayoutModel<ScheduleModel>
@{
    var PageModel = Model.PageModel;
}

<div class="jumbotron">
    <h1 class="display-4">Schedules list</h1>
    <p class="lead">Here will be schedules</p>
    <hr class="my-4">
    <p>Schedules are going to reflect weekly workload and planned Programme events</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>

<div id="dp"></div>

@section Scripts
{
    <script src="~/lib/daypilot/daypilot-javascript.min.js"/></script>
    <script src="~/js/scheduler.js"/></script>
}