@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
}
@using zenbox.model

@model LayoutModel<ScheduleViewmodel>
@{
    var PageModel = Model.PageModel;
}
<div class="space text-start">
    Week:
    <a href="javascript:dp.startDate = dp.startDate.addDays(-7); dp.update();">Previous</a>
    |
    <a href="javascript:dp.startDate = new Date(); dp.update();">Today</a>
    |
    <a href="javascript:dp.startDate = dp.startDate.addDays(7); dp.update();">Next</a>
</div>
<div id="dp"></div>


@foreach(var e in Model.PageModel.Events)
{    
    <div>@e.EventStart - @e.EventEnd</div>
}

@section Scripts
{
    <script src="~/lib/daypilot/daypilot-javascript.min.js"></script>
    <script src="~/js/scheduler-st.js"></script>
}