@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
}
@using zenbox.model

@model LayoutModel<ScheduleModel>
@{
    var PageModel = Model.PageModel;
}

<div id="dp"></div>

@section Scripts
{
    <script src="~/lib/daypilot/daypilot-javascript.min.js"/></script>
    <script src="~/js/scheduler.js"/></script>
}