@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
}
@using zenbox.model

@model LayoutModel<InvoiceViewmodel>
@{
    var PageModel = Model.PageModel;
}

<div class="jumbotron">
    <h1 class="display-4">Invoice list</h1>
    <p class="lead">Here will be implemented a very basic accounting module</p>
    <hr class="my-4">
    <p>Invoices will be connected with Students, and in the future Programmes and Plans.
        Integration with Stripe and Xero planned for Step 2-3.
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>

