@page

@model zenbox.Pages.IndexModel

@{

    <div class="jumbotron">
        <h1 class="display-4">Pages Index</h1>        
        <p class="lead">Not supposed to be displayed</p>
        <hr class="my-4">
        <p>Razor pages rudiment, normally redirected to Dashboard</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
}
